.cover-image {
 
    
    &__container {
      display: flex;
      flex-direction: row; /* Explicit direction */
      gap: 20px; /* Gap between elements */
      justify-content: space-between;
     
      max-width: 1200px;
      margin: 0 auto;
    }
  
    &__description {
      font-size: 14px;
      font-style: italic;
      font-weight: 400;
      line-height: 20px;
      color: #555;
  
      b {
        font-weight: 600;
        color: #333;
      }
    }
  
    &__social-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
  
      &__followers {
     color:#707070;
        font-size: 32px;
        font-weight: 600;
        line-height: 39.01px;
       
        
      }
  
      &__social-links {
        display: flex;
        gap: 15px;
      }
  
      &__social-icon {
        width: 30px;
        height: 30px;
        object-fit: contain;
        cursor: pointer;
        transition: transform 0.3s ease;
  
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .cover-image__container {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .cover-image__description {
      font-size: 14px;
      padding: 0 10px;
      text-align: center;
    }
  
    .cover-image__social-icons {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  
    .cover-image__followers {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .cover-image__social-links {
      flex-direction: column;
      gap: 10px;
    }
  
    .cover-image__social-icon {
      width: 25px;
      height: 25px;
    }
  }
  