.intro {
  margin: 30px 0;

  &__container {
    display: flex;
    align-items: flex-start; 
  }

  &__first-letter {
    font-size: 94px;
    font-weight: 400;
    color: #333;
    width: 59px;
    margin-right: 5px;
    line-height: 1; 
    font-family: "Noto Serif", serif;
    
  }

  &__paragraph {
    font-size: 16px;
    max-width: 499.5px;  
    width: 100%;
    line-height: 30px;
    font-weight: 400;
    font-family: "Noto Serif", serif;
    margin-bottom: 15px;
  }
}
